[Unit]
Description=AnSpraKon systemd service
After=syslog.target

[Service]
Type=notify
NotifyAccess=all
WorkingDirectory=/tmp/
ExecStart=/usr/bin/python /home/alarm/ansprakon 6 -b
WatchdogSec=30
Restart=watchdog

[Install]
WantedBy=multi-user.target